/**********CSS预设样式**********/
ul, li {/*清除ul自带的列表符*/
  list-style: none;
}
img {/*去掉img自带的边框<当图像加上a标签后，IE浏览器在不去除图像边框时会显示边框>*/
  border: none;
}
html {
  height:100%;
}
body {
  min-height: 100%;
  position: relative;
}