<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <% if (username) { %>
      <a class="btn btn-default" href="http://minqwq.github.io/anonymsgboard/logout">登出</a>
    <% } else { %>
      <a class="btn btn-default" href="http://minqwq.github.io/anonymsgboard/login.html">登入</a>
    <% } %>

    <a class="btn btn-primary" href="http://minqwq.github.io/anonymsgboard/newpost.html">发表新留言</a>
    <h2>留言列表</h2>
    <div>
      <% for(var i=0; i<posts.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= posts[i].author %>, 发布时间：<%= posts[i].createTime %></h3>
          </div>
          <div class="panel-body">
            <%= posts[i].content  %>
            <% if (isAdmin) { %>
              <a href="/posts/delete/<%= posts[i].id %>">删除</a>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
