<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <form method="post" action="/posts">
      <div class="form-group">
        <label for="author">作者</label>
        <input name="author" class="form-control" id="author" placeholder="author">
      </div>
      <div class="form-group">
        <label >内容</label>
        <textarea name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-default">送出</button>
    </form>
  </div>
</body>
</html>
